@model ReviewSite.Models.Review
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/css/Main.css" rel="stylesheet" />
</head>
<body>   
    <div>
        <a href="/Review/Index">Back to Home page</a>
    </div>

    <h1>@Model.Title</h1>
    <div id="@Model.Id">
        <p>@Model.Content</p>
    </div>
    <img src="@Model.ImageUrl" width="300" alt="@Model.Title" />
    <div>
        Category: @Model.ReviewCategory
    </div>

</body>
</html>
